@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-800 h-screen box-border m-0 pt-10;
  }

  /* ============ Header section ============ */

  .header-title {
    @apply text-white text-center text-4xl font-bold;
  }

  /* =============== Content Wrapper =============== */

  .content-wrapper {
    @apply h-full flex flex-col justify-center gap-10;
  }

  .form-wrapper {
    @apply w-full bg-slate-400;
    margin: 0 auto;
  }

  .input-wrap {
    @apply w-full p-4 grid justify-center items-center text-center;
  }

  .input-wrap input {
    @apply p-2 w-full; 
  }

  .nomor1 {
    /* @apply bg-slate-400; */
  }

  .nomor2 {
    /* @apply bg-slate-300; */
  }

  .urban-list-container {
    @apply relative w-[75vh];
    /* transform: scaleY(0); */
    /* visibility: hidden; */
  }

  .urban-list {
    @apply absolute w-[75vh] flex flex-wrap max-h-40 overflow-x-hidden overflow-y-scroll;
    /* align-content: middle; */
  }

  .urban {
    @apply cursor-pointer p-3 bg-slate-100 w-full;
    transition: 0.5s ease;
  }

  .urban:hover {
    @apply bg-slate-400;
  }

  .data-submit {
    @apply bg-slate-200 cursor-pointer;
    width: 30vh !important;
    transition: 0.5s;
  }

  .data-submit:hover {
    @apply bg-slate-400;
  }

  /* ========== MAP SECTION ========== */

  .map-container {
    @apply relative w-full h-[75vh] mb-8;
  }

  #map {
    @apply w-[50%] h-full;
    margin: 0 auto;
  }

  .custom-map-control-button {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    height: 40px;
    cursor: pointer;
  }
  .custom-map-control-button:hover {
    background: #ebebeb;
  }

  /* .hide {
    @apply hidden;
  } */
}
